<header>
    <h1>Solv.io</h1>
    <p>Financiële gezondheid van bedrijven in een oogopslag</p>
    
    {% if user %}
        <nav>
            <div>
                <span>Welkom, <strong>{{ user }}</strong>!</span>
            </div>
            <div>
                <a href="{{ url_for('main.dashboard') }}">Dashboard</a>
                <a href="{{ url_for('main.debtors') }}">Debiteuren</a>
                <a href="{{ url_for('main.logout') }}">Logout</a>
            </div>
        </nav>
    {% else %}
        <nav>
            <div>
                <a href="{{ url_for('main.login') }}">Login</a>
                <a href="{{ url_for('main.register') }}">Register</a>
            </div>
        </nav>
    {% endif %}
</header>
